body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --actent-color: #2196f3;
  --white-color: #ffffff;
  --secondary-color: #f5f4fa;
  --address-color: rgba(255, 255, 255, 0.6);
  --boarder-color: #EEEEEE;
  --social-networks: #AFB1B8;
}


.list {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* колір основного тексту #212121 */
/* другорядний колір тексту #757575 */
/* текст білий #FFFFFF */
/* акцент #2196F3 */
/* логотип #000000 #2196F3 */
/* колір фону #F5F5F5 */
/* другорядний колір фону #F5F4FA */
/* фон навігації #FFFFFF */
/* фон header і footer #2F303A */

.container {
  margin-right: auto;
  margin-left: auto;
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  outline: 1px solid tomato;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.item {
  position: relative;
  display: flex;
  align-items: center;
}

.item::after {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
 height: 4px;
 border-radius: 2px;
 /* background-color: var(--actent-color); */
/* opacity: 0; */
transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.item:hover::after {
  background-color: var(--actent-color);
}
.item:active {
  content: "";
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
 height: 4px;
 border-radius: 2px;
 background-color: var(--actent-color);
}
/* site nav */
.main-nav {
  display: flex;
  align-items: center;
}
.site-nav {
  display: flex;
  margin-left: 93px;
}
.site-nav .item:not(:last-child) {
  margin-right: 50px;
}
.site-nav a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--actent-color);
}
.site-contacts {
  display: flex;
  margin-left: auto;
}
.site-contacts .item:not(:last-child) {
  margin-right: 40px; 
}
.site-contacts a {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.site-contacts a:hover,
.site-contacts a:focus {
  color: var(--actent-color);
}
.contacts-icon {
  width: 16px;
  height: 12px; 
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-icon:hover,
.contacts-icon:focus{
  fill: var(--actent-color);
} 
.smartphone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.smartphone-icon:hover,
.smartphone-icon:focus{
  fill: var(--actent-color);
} 
.item-preferences-icon {
display: flex;
height: 120px;
background-color: var(--secondary-color);
margin-bottom: 30px;
border-radius: 4px;
align-items: center;
justify-content: center;
}
.preferences-icon {
  width: 70px;
  height: 70px;

}
.section-preferences {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 94px;
}
.section-preferences .item-preferences {
width: calc((100% - 90px) / 4);
 margin-right: 30px;
}
.section-preferences .item-preferences:nth-child(4) {
  margin-right: 0;
}
.section-preferences p {
  margin: 0;
}
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin: 0;
  margin-bottom: 10px;
}
.section-work {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.work-issues-thumb {
  position: relative;
  margin-right: 30px;
}
.work-issues-thumb:nth-child(3n) {
  margin-right: 0;
}
.work-issues {
  width: 380px;
  height: 100%;
}
.work-title,
.team-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
.work-issues-position {
  position: absolute;
  bottom: 0;
  width: 380px;
  background-color: rgba(47, 48, 58, 0.8);
}
.work-issues-text {
  color: var(--white-color);
  margin: 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
}
.our-team {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-color);
}
.team {
  display: flex;
  flex-wrap: wrap;
}
.team-list {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
  text-align: center;
  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team-list:nth-child(4n) {
  margin-right: 0;
}
.team-wrap {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 32px;
  padding-left: 32px;
}
.team-image {
  width: 100%;
}
.team-name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  margin-bottom: 10px;
}
.team-position {
  font-size: 16px;
  line-height: 1.19;
  margin: 0;
  margin-bottom: 16px;
}
.team-networks {
  display: flex;
}
.team-networks-icon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.team-networks-icon:hover,
.team-networks-icon:focus {
  background-color: var(--actent-color);
}
.team-networks-icon:hover > .team-icon,
.team-networks-icon:focus > .team-icon{
  fill: var(--white-color);
}
.team-icon {
  width: 20px;
  height: 20px;
  fill: var(--social-networks);
}
.customers {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
}
.customers-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0;
  margin-bottom: 50px;
}
.customers-logo {
display: flex;
flex-wrap: wrap;
}
.customers-icon {
  height: 92px;
  display: flex;
  width: calc((100% - 150px) / 6);
  border: 1px solid #AFB1B8;
border-radius: 4px;
margin-right: 30px;
align-items: center;
justify-content: center;
}
.customers-icon:nth-child(6) {
  margin-right: 0;
}
.customers-icon:hover, 
.customers-icon:focus {
  border: 1px solid var(--actent-color);
}
.customers-icon:hover > .customers-icon-logo, 
.customers-icon:focus > .customers-icon-logo {
  fill: var(--actent-color);
}
.customers-icon-logo {
  width: 106px;
  height: 60px;
  fill: var(--social-networks);
}
/* hero */
.hero-title {
  color: var(--white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  outline: 1px solid tomato;
  margin-top: 0;
  margin-bottom: 30px;
}
.hero {
  background-image: linear-gradient(
    to right,
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)
    ),
   url("../images/image-hero.jpg");
  max-width: 1600px;
 background-size: cover;
 background-repeat: no-repeat;
 background-position: center;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.hero-wrapper {
  padding-bottom: 200px;
  padding-top: 200px;
}
/* footer */
.address {
  margin: 0;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.logo-footer {
  display: block;
  margin: 0;
  margin-bottom: 28px;
}
.address-list {
  color: var(--white-color);
  font-style: normal;
  margin-bottom: 12px;
}
.address-list a {
  color: var(--address-color);
  text-decoration: none;
}
.site-adress {
  display: block;
  margin-bottom: 12px;
color: var(--primary-text-color);
}
.footer-contacts a:hover{
  cursor: pointer;
  color: var(--actent-color);
}
.social-networks-footer {
  margin-left: 70px;
}
.networks-title {
  color: var(--white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 20px;
}
.networks-footer {
  display: flex;
}
.networks-footer-icon {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  background: rgba(255, 255, 255, 0.1);
}
.networks-footer-icon:hover,
.networks-footer-icon:focus {
background-color: var(--actent-color);
}
.footer-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-color);
}
.adress-footer {
  display: flex;
}

/* button */
.button-primary {
  color: var(--white-color);
  background-color: var(--actent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  border: none;
  padding: 10px 24px;
}
.button-primary:hover {
  cursor: pointer;
}
.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.button-secondary {
  color: var(--title-text-color);
  background-color: var(--secondary-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  border-radius: 4px;
  padding: 6px 22px;
  border: none;
}
.button-secondary-wrapper {
  margin-right: 8px;
  margin-bottom: 56px;
}
.button-secondary-wrapper:nth-child(5n) {
  margin-right: 0;
}
.button-secondary:hover,
.button-secondary:focus {
  color: var(--white-color);
  background-color: var(--actent-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* portfolio */
.work {
  display: flex;
  flex-wrap: wrap;
}
.section-work-example {
  width: 380px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.section-work-example:nth-child(3n) {
margin-right: 0;
}
.section-work-example:nth-last-child(-n+3) {
  margin-bottom: 0;
}
.work-examples {
  padding-top: 94px;
  padding-bottom: 94px;
}
.work-example {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
  margin-bottom: 4px;
  padding-left: 24px;
}
.work-text {
  font-size: 16px;
  line-height: 1.88;
  margin: 0;
  margin-bottom: 20px;
  padding-left: 24px;
}
.work-image {
  display: block;
  width: 100%;
}
.work-description {
  border: 1px solid var(--boarder-color);
}
.section-work-example:hover,
.section-work-example:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.work-image-thumb {
  position: relative;
}
.work-example-text {
  color: var(--white-color);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  margin-right: 24px;
  margin-left: 24px;
}
.work-example-position {
  position: absolute;
  top: 63px;
  bottom: 63px;
  opacity: 0;
}
.work-example-position:hover {
  opacity: 1;
}
.work-image-thumb::before {
  display: inline-block;
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
}
.work-image-thumb:hover::before {
  opacity: 1;
}
/* modal */

.backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal {
  position: absolute;
  height: 581px;
  width: 528px;
  background-color: var(--white-color); 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.button-modal {
  position: absolute;
  border: none;
right: 8px;
top: 8px;
width: 30px;
height: 30px;
border-radius: 50%;
border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: var(--white-color);
}
.button-modal:hover {
  cursor: pointer;
}
